body{
    background-image: url("page8.jpg");
    background-size: 100% auto;
}
div{
    color:rgb(255, 255, 255);
    font-size: 30px;
}
button{
    background-color:skyblue;
    font-size: 20px;
}
@media screen and ( orientation: portrait) {
    p{
        font-size: 50px;
    }
}
